
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div style="margin-top:100px;margin-bottom:60px;text-align:center">
    <span class="alert alert-success">
        Chúc mừng bạn mua hàng thành công
    </span>
</div>

