
@{
    ViewBag.Title = "CreateCompany";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Tạo chi nhánh</h2>
<div class="container">
    <form class="col-sm-6">
        <label class="col-sm-4">Tên công ty</label> <input class="row-cols-6" /><br />
        <label class="col-sm-4">Địa chỉ</label> <input class="row-cols-6" /><br />
        <label class="col-sm-4">Số điện thoại</label> <input class="row-cols-6" /><br />
        <input type="submit" onclick="newCompany()" value="Thêm công ty"/>

    </form>
</div>
<script type="text/javascript">
    function newCompany() {
        alert('');
   
    }

</script>